* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #92B6B1;
    opacity: 0.75;
    background-image: url("../images/BG1.JPG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}


header{
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    color: white;
    background-color: #4464AD;
    height: 100px;
}

#logo {
    height: 80px;
}

h1 {
    color: #190B28;
    text-align: center;
    margin: 30px auto;
}

/* Dropdown Button gestalten */
.dropbtn {
    background-color: #2C6E49;
    color: white;
    height: 50px;
    width: 160px;
    border-radius: 5px;
    cursor: pointer;
}

/* Container der gebraucht wird um den Dropdown inhalt zu positionieren */
.dropdown {
    position: relative;
    display: inline-block;
}

/*  Inhalt des Dropdown (wird versteckt) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #B2C9AB;
    box-shadow: 0px 8px 16px 0px;
    z-index: 1;
}

/* Links im dropdown */
.dropdown-content a {
    color: #190B28;
    display: block;
}

/* Farbe ändern bei hover über den Links */
.dropdown-content a:hover {
    background-color: #92B6B1;
}

/* Zeigen des Menues bei hover über den Dropdownbutton */
.dropdown:hover .dropdown-content {
    display: block;
}

/*Wechseln der Farbe des Dropdownbutton wenn inhalt entfaltet ist*/
.dropdown:hover .dropbtn {
    background-color: #245a3b;
}

#headshot {
    display: block;
    height: 150px;
    width: 150px;
    margin: 30px auto;
    border-radius: 75px;
}

.main {
    width: 66%;
    height: 400px;
    background-color: beige;
    margin: 30px auto;
    text-align: center;
}

footer {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    color: white;
    background-color: #4464AD;
    position: fixed;
    bottom: 0;
    height: 8%;
    align-items: center;
}

#logos {
    display: inline-flex;
    align-items: center;
}

#logos a {
    margin-left: 20px;
    color: white;
}

@ media screen and (device-width: 360px) and (device-height: 780px) and (-webkit-device-pixel-ratio: 3) {

    header {
        display: flex;
        align-items: center;
        width: 100vw;
        height: fit-content;
        padding: 20px;
    }

    #logo {
        height: 40px;
    }

}
