* {
    margin: 0;
    padding: 0;
}



.index {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #92B6B1;
    /*Opacity*/
    background-image: url("../images/BG1.JPG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

.bjj {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #92B6B1;
    /*Opacity*/
    background-image: url("../images/BJJ/SartoPhotography_DSC07211_web.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

.threeD {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #92B6B1;
    /*Opacity*/
    background-image: url("#");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

header{
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    color: white;
    background-color: #4463adaf;
    height: 8%;
    min-height: fit-content;
}


#logocont {
    width: 33%;
 
}

#logo {
    max-height: 80px;
}

#pagetitle {
    width: 33%;
    text-align: center;
}

h1 {
    color: #190B28;
    text-align: center;
    margin: 30px auto;
}

/*Container der den Button enthält*/
.drpcontainer {
    width: 33%;
    text-align: center;
}

/* Dropdown Button gestalten */
.dropbtn {
    background-color: #2C6E49;
    color: white;
    font-size: 17px;
    font-weight: bold;
    height: 50px;
    width: 160px;
    border-radius: 5px;
    cursor: pointer;
}

/* Container der gebraucht wird um den Dropdown inhalt zu positionieren */
.dropdown {
    position: relative;
    display: inline-block;
    text-align: center;
}

/*  Inhalt des Dropdown (wird versteckt) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #B2C9AB;
    width: 200px;
    padding: 15px;
    box-shadow: 0px 8px 16px 0px black;
    z-index: 1;
    line-height: 3em;
    text-align: left;

}

/* Links im dropdown */
.dropdown-content a {
    color: #190B28;
    display: block;
    text-decoration: none;
}

/* Farbe ändern bei hover über den Links */
.dropdown-content a:hover {
    background-color: #9bb195;
}

/* Zeigen des Menues bei hover über den Dropdownbutton */
.dropdown:hover .dropdown-content {
    display: block;
}

/*Wechseln der Farbe des Dropdownbutton wenn inhalt entfaltet ist*/
.dropdown:hover .dropbtn {
    background-color: #245a3b;
}

#headshot {
    display: block;
    height: 180px;
    width: 180px;
    margin: 30px auto;
    border-radius: 90px;

}

.main {
    width: fit-content;
    max-width: 50%;
    height: fit-content;
    background-color: rgba(245, 245, 220, 0.800);
    margin: 30px auto;
    padding: 30px;
    text-align: left;

}

#helio {
    float: right;
}

.main h2 {
    line-height: 2em;
}

.main h3 {
    line-height: 2em;
}

.main p {
    line-height: 1.25em;
}

.main li {
    line-height: 1.25em;
}

footer {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    color: white;
    background-color: #4463adaf;
    position: fixed;
    bottom: 0;
    height: 5%;
    min-height: fit-content;
    align-items: center;

}

#logos {
    display: inline-flex;
    align-items: center;
}

#logos a {
    margin-left: 20px;
    color: white;
}
